<%= form_for @user do |f| %>
  <h3>Set up your account</h3>
  <%= render partial: 'shared/error_messages', object: @user %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions"><%= f.submit %></div>
<% end %>