<%= form_for @post do |f| %>

<div id="post-editor" class="split-section">
  <pre id="line-height" class="goaway">Test text</pre>
  <div class="inner">
    <%- if @post.errors.any? -%>
    <div class="notice">
      <%- @post.errors.full_messages.each do |msg| -%>
        <%= msg %>
      <%- end -%>
    </div>
    <%- end -%>

    <div id="text-title" class="expandingArea">
      <pre><span></span><br></pre>
      <%= f.text_area :title, :rows => 1, :placeholder => 'Enter your idea...' %>
    </div>

    <fieldset id="content-fieldset" class="markdown">
      <div id="text-content" class="expandingArea">
        <pre><span></span><br></pre>
        <%= f.text_area :content, :placeholder => 'Write post here' %>
      </div>
    </fieldset>
  </div>
</div>

<div id="post-preview" class="split-section">
  <div class="inner"></div>
</div>

<div id="bar">
  <%= link_to 'Back', '#', :id => "back-button", :class => 'icon-arrow-left' %>
  <%= link_to 'Preview', '#', :id => 'preview-button', :target => "_blank", :class => 'icon-eye-open' %>
  <% link_to 'Save', '#', :id => 'save-button', :class => 'icon-asterisk' %>

  <div class="middle">
    <%= link_to 'Date', '#', :id => 'date-button', :class => 'icon-calendar' %>
    <div class="menu">
      <%= link_to 'Meta', '#meta', :class => 'menu icon-info-sign' %>
      <ul id="meta" class="sub-menu">
        <li>
          <%= f.label :url, 'Permalink' %>
          <%= f.text_field :slug, :placeholder => 'Leave blank to automatically generate' %>
        </li>
        <li>
          <%= f.label :url, 'External URL' %>
          <%= f.text_field :url, :placeholder => 'Optional' %>
        </li>
      </ul>
    </div>
  </div>

  <div class="bottom">
    <%= link_to 'Draft', '#', :id => 'publish-button', :class => 'icon-edit' %>
    <%= link_to 'Delete', @post, :confirm => 'Are you sure?', :method => :delete, :class => 'icon-trash' %>
  </div>
</div>

<div class="hide">
    <%= f.check_box :draft %>
</div>

<% end %>

<button id="save-button" class="animated"></button>