<section id="post-<%= post.id %>">
  <div class="post contain">
    <%- if post.external? -%>
      <h1 class="external">
        <% if @single_post %><%= link_to post.title, post.url %><% else %><%= link_to post.title, post.url %><% end %>
        <%= link_to '⚓', post.slug, :class => 'permalink' %>
      </h1>
    <%- else -%>
      <h1><% if @single_post %><%= post.title %><% else %><%= link_to post.title, post.slug %><% end %></h1>
    <%- end -%>

    <% if post.has_more_tag && !@single_post && !@preview %>
      <% if post.excerpt %><%= markdown(post.excerpt).to_html.html_safe %><% end %>
	    <%= link_to "Continue Reading →", post.slug, :class => "button" %>
    <% else %>
      <% if post.content %><%= markdown(post.content).to_html.html_safe %><% end %>
    <% end %>

    <%- if is_admin? -%>
      <ul class="actions">
        <li><%= link_to 'Edit', '/edit/' + post.id.to_s unless @preview %></li>
      </ul>
    <%- end -%>
  </div>

  <% if @single_post %><a class="button space-top" href="<%= root_url %>">Back to Blog</a><% end %>
</section>
