<% content_for(:title) do -%>
  Admin
<% end %>

<%= render 'form' %>

<div id="posts">
  <div class="contain">
    <div id="drafts" class="col active">
      <h2>Drafts</h2>
      <ul data-items="<%= @drafts.to_json(:only => [:id, :title]) %>">
        <%= render :partial => 'li', :collection => @drafts %>
        <li id="post-0"><a href="/new">New Draft...</a></li>
      </ul>
    </div>
    <div id="published" class="col">
      <h2>Published</h2>
      <ul data-items="<%= @published.to_json(:only => [:id, :title]) %>">
      <%= render :partial => 'li', :collection => @published %>
      </ul>
    </div>
  </div>
</div>