<!doctype html>
<html lang="en-US">
<head>
  <title><%= html_title yield(:title) %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application' %>
</head>

<body class="admin <%= controller_name %> <%= action_name %>">
  <div id="admin">
    <a id="blog-button" href="<%= root_url %>" target="_blank">Go to blog</a>
    <%= yield %>
  </div>

  <%= javascript_include_tag 'admin' %>
  <div id="null"></div>
</body>
</html>