<!doctype html>
<html lang="en-US">
<head>
  <title><%= html_title yield(:title) %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application' %>
  <!-- <link href='http://fonts.googleapis.com/css?family=Istok+Web:400,700' rel='stylesheet' type='text/css'> -->
</head>

<body class="admin <%= controller_name %> <%= action_name %>">
  <div id="admin">
    <%= yield %>
  </div>

  <%= javascript_include_tag 'application' %>
  <div id="null"></div>
</body>
</html>