<!doctype html>
<html lang="en-US">
<head>
  <title><%= html_title yield(:title) %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application' %>
  <meta name="author" content="<%= CONFIG['name'] %>">
  <link href="/posts.rss" rel="alternate" title="RSS" type="application/rss+xml" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
</head>

<body class="<%= controller_name %> <%= action_name %>">
  <div id="body">
  <% if is_admin? %><a id="blog-button" href="/new">Go to blog</a><% end %>
  <% unless @no_header %>
  <header class="clearfix">
    <div class="inner">
      <h1><%= link_to CONFIG['name'], 'http://natewienert.com' %></h1>
      <% if CONFIG['tagline'] %>
        <span><%= CONFIG['tagline'].html_safe %></span>
      <% end %>
      <ul class="clearfix">
        <% if CONFIG['twitter'] %><li><%= link_to 'twitter', 'http://twitter.com/' + CONFIG['twitter'] %></li><% end %>
        <% if CONFIG['github'] %><li><%= link_to 'github', 'https://github.com/' + CONFIG['github'] %></li><% end %>
        <% if CONFIG['email'] %><li class="right"><%= link_to 'mail', "mailto:#{CONFIG['email']}" %></li><% end %>
        <li class="right"><%= link_to 'subscribe', '/posts.rss' %></li>
      </ul>
    </div>
  </header>
  <% end %>

  <div id="container">
    <section id="content">
      <% if notice %><span class="notice"><%= notice %></span><% end %>
      <%= yield %>
    </section>

    <section id="footer">
      <% if action_name == 'index' %><%= link_to 'Back to top', '#', :id => 'back-to-top' %>
      <% else %><%= link_to 'Back to blog', root_url %>
      <% end %>
      <br />
      powered by <a href="http://github.com/natew/obtvse.git">obtvse</a>
    </section>
  </div>

  <%= javascript_include_tag 'application' %>

  <% if CONFIG['ga_id'] %>
    <!-- Google Analytics -->
    <script>
      var _gaq=[['_setAccount','<%= CONFIG['ga_id'] %>'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  <% end %>
  </div>
</body>
</html>
