<!doctype html>
<html lang="en-US">
<head>
  <title><%= html_title yield(:title) %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application' %>
  <link href="/posts.rss" rel="alternate" title="RSS" type="application/rss+xml" />
  <link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css' />
</head>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23975642-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<body class="<%= controller_name %> <%= action_name %>">
	<% unless @no_header %>
	<header>
		<h1><%= link_to CONFIG['title'], CONFIG['url'] %></h1>
		<ul>
			<li><%= link_to '@' + CONFIG['twitter'], 'http://twitter.com/'+CONFIG['twitter'] %>
			<li><%= link_to 'github', CONFIG['github'] %>
			<li><%= link_to 'say hi', "mailto:#{CONFIG['email']}?subject:whats up!" %></li>
			<li><%= link_to 'rss feed', '/posts.rss' %></li>
		</ul>
		<span class="powered-by">Powered by <a href="http://github.com/natew/obtvse.git">Obtvse</a></span>
	</header>
	<% end %>

	<div id="container">
		<% unless @no_header %>
			<% if is_admin? %>
				<a class="admin-new" href="/new">New Post</a>
			<% end %>
			<time><% if @post %>Posted <%= @post.created_at.to_formatted_s(:day_month_year) %><% else %><%= Time.now.to_formatted_s(:day_month_year) %><% end %></time>
		<% end %>
		<div id="content">
			<% if notice %><span class="notice"><%= notice %></span><% end %>
			<%= yield %>
		</div>
	</div>

	<%= javascript_include_tag 'application' %>

</body>
</html>