<!doctype html>
<html lang="en-US">
<head>
  <title><%= html_title yield(:title) %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application' %>
  <meta name="author" content="<%= CONFIG['name'] %>">
  <link href="/posts.rss" rel="alternate" title="RSS" type="application/rss+xml" />
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />
</head>

<body class="<%= controller_name %> <%= action_name %>">
  <% unless @no_header %>
  <header>
    <h1><%= link_to CONFIG['name'], root_url %></h1>
    <% if CONFIG['tagline'] %>
      <span><%= CONFIG['tagline'].html_safe %></span>
    <% end %>
    <ul class="clearfix">
      <% if CONFIG['twitter'] %>
        <li><%= link_to 'twit', 'http://twitter.com/' + CONFIG['twitter'] %></li>
      <% end %>
      <% if CONFIG['github'] %>
        <li><%= link_to 'git', 'https://github.com/' + CONFIG['github'] %></li>
      <% end %>
      <% if CONFIG['email'] %>
        <li><%= link_to 'mail', "mailto:#{CONFIG['email']}?subject:whats up!" %></li>
      <% end %>
      <li><%= link_to 'rss', '/posts.rss' %></li>
      <% if is_admin? %><li class="right"><a href="/new">admin</a></li><% end %>
      <li class="right">powered by <a href="http://github.com/natew/obtvse.git">obtvse</a></li>
    </ul>
    <span class="powered-by">
  </span>

  </header>
  <% end %>

  <div id="container">
    <% unless @no_header %>
      <time><% if @post && @post.created_at %>Posted <%= @post.created_at.to_formatted_s(:day_month_year) %><% else %><%= Time.now.to_formatted_s(:day_month_year) %><% end %></time>
    <% end %>
    <div id="content">
      <% if notice %><span class="notice"><%= notice %></span><% end %>
      <%= yield %>
    </div>
  </div>

  <%= javascript_include_tag 'application' %>

  <% if CONFIG['ga_id'] %>
    <!-- Google Analytics
    <script>
      var _gaq=[['_setAccount','<%= CONFIG['ga_id'] %>'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script> -->
  <% end %>
</body>
</html>
