<!doctype html>
<html lang="en-US">
<head>
  <title><%= html_title yield(:title) %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'application' %>
  <link href="/posts.rss" rel="alternate" title="RSS" type="application/rss+xml" />
  <link href='http://fonts.googleapis.com/css?family=Lato:300,900' rel='stylesheet' type='text/css' />
</head>

<body class="<%= controller_name %> <%= action_name %>">
	<% unless @no_header %>
	<header>
		<%= link_to CONFIG['title'], CONFIG['url'], :class => 'circle' %>
		<h1><%= CONFIG['title'] %></h1>
		<span><%= CONFIG['tagline'] %></span>
		<ul>
			<li><%= link_to '@' + CONFIG['twitter'], 'http://twitter.com/'+CONFIG['twitter'] %>
			<li><%= link_to 'say whats up', 'mailto:&#110;&#097;&#116;&#101;&#119;&#105;&#101;&#110;&#101;&#114;&#116;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;?subject:whats up!' %></li>
			<li><%= link_to 'rss feed', '/posts.xml' %></li>
		</ul>
	</header>
	<% end %>

	<div id="container">
		<% unless @no_header %>
			<% if is_admin? %>
				<a class="admin-new" href="/new">New Post</a>
			<% end %>
			<time><% if @post %>Posted <%= @post.created_at.to_formatted_s(:day_month_year) %><% else %><%= Time.now.to_formatted_s(:day_month_year) %><% end %></time>
		<% end %>
		<div id="content">
			<% if notice %><span class="notice"><%= notice %></span><% end %>
			<%= yield %>
		</div>
	</div>

	<%= javascript_include_tag 'application' %>

</body>
</html>